@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

$normal-text: #333A39;
$medium-text: #605E5E;
$light-text: #979797;
$brand-green: #008B78;
$blue: #137ABE;
$red: #BE1413;
$lines: #9C9C9C;

body {
    font-family: Montserrat;
    color: $normal-text;
}

.logInOut:link {
    text-decoration: none;
    padding: 10px;
    box-shadow: 0px 1px 2px #999;
    margin: 5px;
}

.logInOut:visited {
    color: black;
}

.logInOut:hover {
    color: $brand-green;
}

#hashtag {
    button {
        opacity: 0;
    }
}

#hashtag:hover {
    button {
        font-family: Lato;
        background-color: white;
        color: $blue;
        border: none;
        opacity: 1;
    }
}

.margin {
    margin: 10px;
}

.margin-link {
    margin: 20px;
}
